In [1]:
import pandas as pd

In [51]:
SHEET_ID = '1YWLSOULWYk_orvb1Ay5lsPAB6xCd6NN39PSBnyftGJs'
SHEET_NAME = 'game_scores'
url = f'https://docs.google.com/spreadsheets/d/{SHEET_ID}/gviz/tq?tqx=out:csv&sheet={SHEET_NAME}'

df = pd.read_csv(url)

In [52]:
df : pd.DataFrame = df[['game', 'winner', 'date', 'participants', 'starting_order', 'winning_order']]

df['winner'] = df['winner'].apply(lambda names: tuple(names.split(',')))
df['participants'] = df['participants'].apply(lambda names: tuple(names.split(',')))
df['starting_order'] = df['starting_order'].apply(lambda names: tuple(names.split(',')) if type(names) == str else names)
df['winning_order'] = df['winning_order'].apply(lambda names: tuple(names.split(',')) if type(names) == str else names)

Game count

In [202]:
df.groupby('game')['game'].count()

game
catan         13
chess          8
codenames      4
dm             4
mega slay      5
monopoly       2
nidavellir     2
poker          1
slay           1
Name: game, dtype: int64

Win rates

In [290]:
win_count_by_game = df.groupby(['game'])['winner']
win_count = win_count_by_game.value_counts()
win_rate  = win_count_by_game.value_counts(normalize=True,)

pd.concat([win_count, win_rate], axis=1, keys=['count', '%'])

                             count         %
game       winner
catan      (osadon,)             5  0.384615
           (basirat,)            4  0.307692
           (kobi,)               2  0.153846
           (alfi,)               1  0.076923
           (menachem,)           1  0.076923
chess      (kobi,)               3  0.375000
           (ofir,)               2  0.250000
           (shayer,)             2  0.250000
           (osadon,)             1  0.125000
codenames  (kobi, osadon)        3  0.750000
           (osadon, shayer)      1  0.250000
dm         (kobi,)               3  0.750000
           (basirat,)            1  0.250000
mega slay  (basirat,)            3  0.600000
           (kobi,)               2  0.400000
monopoly   (osadon,)             1  0.500000
           (shayer,)             1  0.500000
nidavellir (kobi,)               2  1.000000
poker      (kobi,)               1  1.000000
slay       (menachem,)           1  1.000000